.bgimg{
    
    background-color: wheat;
    border: 10px solid brown ;
    border-style: groove;
    border-radius: 25%;
    margin: 25px 63px 0px 350px;
    padding: 50px 50px 50px 50px;
    width: 500px;
    
}
.color{
    color:rgb(3, 0, 1);
    font-style: italic;
    font-size: 15px;
    font-weight: 600px;
}
/* .center{
    text-align: center;
} */

body{
    background-image:url(image/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Just{
    color: rgb(250, 248, 248);
}
.name{
    color: rgb(13, 240, 134);
    font-size: 25px;
}
.form{
  text-align: center;
}.table{
    text-align: center;
}